<mat-toolbar>    
    <span>My Todo List App</span>
    <span class="example-spacer"></span>
    <div *ngIf=!isLoged class="button">
        <a mat-button routerLink="/register">Register</a>
        <a mat-button routerLink="/login">Login</a>            
    </div>

    <div *ngIf=isLoged class="button">                        
        <a mat-button (click)="logout()">Logout</a>            
    </div>
  </mat-toolbar>