/* :host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;    
  } */


  :host mat-form-field {
    width: 100%;
  }

.cards {
    margin-top: 20px; 
    display: flex;
    justify-content: center;
    margin: 100px 0px;    
  }
  
  .mat-card {
    margin-top: 20px;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }