<app-nav></app-nav>
<br>
<div fxLayout="column" fxLayoutAlign="start stretch" class="cards">
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="90%" fxFlex.md="66.6667%" fxFlex.gt-md="50%">

            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h2>To Do List</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ng-container *ngIf="myTodos.length > 0">
                        <ng-container *ngIf="myTodos.length > 0; else allDone">
                            <mat-list role="list">                                
                                <mat-list-item *ngFor="let toDo of myTodos" [class.complete]="toDo?.done">
                                    <mat-checkbox [disabled]="!isLoggedIn" [checked]="toDo.done" [(ngModel)]="toDo.done" (change)="updateTodo(toDo)">{{ toDo?.description }}</mat-checkbox>
                                    <button *ngIf="isLoggedIn" (click)="removeTodo(toDo)" mat-icon-button color="warn" aria-label="Delete">
                                        <mat-icon>delete</mat-icon>
                                      </button>
                                  </mat-list-item>
                            </mat-list>
                        </ng-container>
                        <ng-template #allDone>
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <h4>All Done!! 🏖</h4>
                            </div>
                        </ng-template>
                    </ng-container>
                </mat-card-content>
            </mat-card>

<br>
            <mat-card *ngIf="isLoggedIn">
                <mat-card-header>
                    <mat-card-title>
                        <h2>Add To Do</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field>
                        <input matInput [(ngModel)]="newTodoDescription">
                    </mat-form-field>
                    <div class="button">
                        <button  class="button" mat-button color="primary" (click)="addNewTodo()">Add To Do</button>
                      </div>
                    
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>