<mat-card>
    <mat-card-title>Register</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="submit()">
    <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Name" formControlName="name">
        </mat-form-field>
      </p>
  
    <p>
    <mat-form-field>
      <input type="email" matInput placeholder="Email" formControlName="email">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  </p>


  <div class="button">
    <a mat-button routerLink="/">Cancel</a>
    <button type="submit" mat-button>Create</button>
  </div>

</form>
</mat-card-content>
</mat-card>
